.Container {
  display: flex;
  padding: 40px;
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(228, 231, 228);
  border: 2px solid grey;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 8px rgba(34, 60, 80, 0.2);
}
.Poster {
  width: 400px;
}
.InfoContainer {
  padding-top: 30px;
}
.InfoItemContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.AboutContainer {
  display: flex;
  flex-direction: column;
}

.InfoItemDescription {
  font-size: 24px;
}

.InfoItemValue {
  font-size: 24px;
  font-weight: bold;
}
.InfoAboutContent {
  font-size: 20px;
  padding: 20px 0;
}
