.Container {
  display: flex;
  padding: 40px;
  width: 800px;
  margin: 0 auto;
  background-color: rgb(228, 231, 228);
  border: 2px solid grey;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 8px rgba(34, 60, 80, 0.2);
  flex-wrap: wrap;
}
.PosterContainer {
  width: 30%;
}
.Poster {
  width: 100%;
}
.InfoContainer {
  width: 60%;
}

.ResetButton {
  padding: 10px 20px;
  background-color: rgb(87, 87, 87);
  color: white;
  border-radius: 10px;
  margin: 10px auto;
  border: none;
  font-size: 18px;
}

.ResetButton:active {
  background-color: rgb(139, 139, 139);
}

.ResetButton:hover {
  box-shadow: 0px 0px 14px 6px rgba(34, 60, 80, 0.2);
}
